node_modules
lerna-debug.log
storybook-static
.idea
.env
package-lock.json
packages/**/src/version.ts
packages/**/lib/*
coverage


examples/with-typescript/logs
examples/with-typescript/*.log
examples/with-typescript/npm-debug.log*
examples/with-typescript/.DS_Store

examples/with-typescript/coverage
examples/with-typescript/node_modules
examples/with-typescript/build
examples/with-typescript/cache
examples/with-typescript/public/static
examples/with-typescript/.env.local
examples/with-typescript/.env.development.local
examples/with-typescript/.env.test.local
examples/with-typescript/.env.production.local
